NODE_ENV=development
PORT_SERVER=3000
DB_HOST=localhost
DB_PORT=5432
DB_NAME=henrique_store
DB_USER=postgres
DB_PASS=postgres
DB_DIALECT=postgres
DB_LOGGING=false

# Security configurations
ALLOWED_ORIGINS=http://localhost:3000,http://localhost:3001,https://yourdomain.com

# JWT Configuration
JWT_SECRET=b1e4ef6b1f799606b5bcfe1dee11ef4471a8e62cf5699a50e6737a15d2a6ebb44dafdc1f44b5f38ad1a9621eea444d86f24497d63f438d705267c0c8b150d06f
JWT_EXPIRES_IN=1h

