NODE_ENV=development
PORT=8081

PORT_SERVER=3000
DB_HOST=localhost
DB_PORT=5433
DB_NAME=finance
DB_USER=postgres
DB_PASS=postgres
DB_DIALECT=postgres
DB_LOGGING=false

# Security configurations
ALLOWED_ORIGINS=http://localhost:3005,http://localhost:3001,https://yourdomain.com

# JWT Configuration
JWT_SECRET=key
JWT_EXPIRES_IN=1h

## Avatares de Usuário
# Caminho absoluto fora do projeto para armazenar avatares
# Ex: C:\\data\\media\\avatars (Windows) ou /data/media/avatars (Linux)
AVATAR_UPLOAD_DIR=

# Tamanho máximo (MB)
AVATAR_MAX_SIZE_MB=5

# Base path público para servir os arquivos (opcional, default /media/avatars)
AVATAR_PUBLIC_BASE_PATH=/media/avatars

